/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  height: 100vh; */
  padding-top: 30px;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

/* Projects Section */

.projects-section{
  /* text-align: center; */
  padding: 10rem 2rem;
  background: white;
}

.project {
  background: #303841;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-bg {
  background: #212529;
  color: white;
  height: 100%;
  /* width: 100%; */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: #303841;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}


.welcome-section > p {
  font-size: 2.5rem;
  font-weight: 200;
  font-style: italic;
  color: red;
}

/* Text decoration */

.m-links:hover {
  text-decoration: underline;
  
}

.img-h{
  height: 300px;
}

.icn {
  background-color: transparent;
  border: none;
  color: dodgerblue;
  /* padding: 0 5px 0 5px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  /* margin: 0 2px; */
  /* border-radius: 50%; */
}

.icn:hover{
  color: blue;
}

.srchbar{
  position: sticky;
  padding: auto 0 auto 0;
  top: 0;
  z-index: 100;
}



  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 400px;
    padding: 0 2rem;
    background-color: #303841;
  }
  
 .contact-header{
   font-size: 4rem;
 }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  

.contact{
  background-color: #303841;
  color: white;
  padding: 0 auto;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner{
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease-out;
}

.inner:hover img {
  transform: scale(1.5);
}
.container{
  margin-top: 8%;
}