/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald&family=Roboto+Condensed:wght@300&display=swap');

/* General */

.hr-1{
  border-top: 2px solid gray;
  margin: 1rem auto;
  width: 50%;
}
/* NavBar Section */





/* About Section */

.about-section {
  background: #E9ECEF;
  text-align: center;
}

.about-section img{
    max-height: 300px;
}

.about-section p{
    font-size: 1.5rem;
    margin-top: 0;
}
.subtile{
  font-family: Roboto Condensed;
  font-size: 1.2rem;
}

.btn-social{
  letter-spacing: 1px;
}

/* Project Section */

.project-section {
  background: #ffeaea;
  text-align: center;
  padding: 1rem;
}

.project-section h3{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Oswald', sans-serif;
}

.inner{
  overflow: hidden;
}

.inner img {
  transition: all .8s ease-out;
}

.inner:hover img {
  transform: scale(1.3);
}

/* Feedback Section */

#feedback{
  background: #dddaae;
  text-align: center;
  padding: 2% 10%;
}

/* .feedback-title{
  font-size: 2.5rem;
  font-family: 'Fjalla One', sans-serif;
} */

.hr-style{
  border-top: 5px dotted red;
  color: transparent;
  margin: 0 auto;
  width: 100px;
}

.carousel-item{
  padding: 5% 15%;
  text-align: center;
  font-style: italic;
}

.feedback-img{
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  height: 120px;
}

.carousel-indicators{
  bottom: -20px;
}

